body {
  display: flex;
  height: 100vh;
  justify-content: center;
}

#secure-message-form {
  width: 500px;
  padding: 6px;
}

input, textarea {
  width: 100%;
  padding: 6px;
  outline: none;
  border: none;
  margin: 6px 0px;
}

#btn {
  width: 150px;
  padding: 6px;
  cursor: pointer;
}
